{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block content %}

<h1>Screening</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
    {{ articles_screened }} / {{ articles_total }} ({{ progress }}%)
  </div>
</div>

<table class="table" style="width:100%">
  <tr>
    <th scope="row" width="15%">Include article</th>
    <td>
      <a href="{% url 'screening:process_article' article.id 'accept' %}" class="btn btn-success" role="button" >Yes</a>
      <a href="{% url 'screening:process_article' article.id 'maybe' %}" class="btn btn-secondary" role="button" >Maybe</a>
      <a href="{% url 'screening:process_article' article.id 'reject' %}" class="btn btn-danger" role="button" >No</a>
    </td>
  </tr>
  <tr>
      <th scope="row">ID</th>
      <td>{{ article.id }}</td>
  </tr>
  <tr>
    <th scope="row">Title</th>
    <td>{{ article.title|safe }}</td>
  </tr>
  <tr>
    <th scope="row">Authors</th>
    <td>{{ article.authors }}</td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>{{ article.pub_date|date:"Y-M-d" }}</td>
  </tr>
  <tr>
    <th scope="row">Journal</th>
    <td>{{ article.journal }}</td>
  </tr>
  <tr>
    <th scope="row"></th>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Abstract</th>
    <td>
      <p>{{ article.abstract|safe }}</p>
    </td>
  </tr>


</table>


{% endblock %}
