{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block content %}

<h1>Tagging</h1>

<table class="table" style="width:100%">
  <tr>
    <th scope="row" width="15%">Tag article {{ article.id }}</th>
    <td>
      <table class="table table-sm table-borderless">
        <tr>
          <th></th>
          <td>
            {% for t in tags %}
              <a href="" class="btn btn-secondary" role="button" >{{ t.tag.tag_name }}</a>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            {% for t in tags %}
              {{ t.tag.tag_name }};
            {% endfor %}
          </td>
        </tr>
      <br/>
      <!--
      <a href="{% url 'screening:process_article' article.id 'maybe' %}" class="btn btn-secondary" role="button" >Maybe</a>
      <a href="{% url 'screening:process_article' article.id 'reject' %}" class="btn btn-danger" role="button" >No</a> -->
      <tr>
        <td></td>
        <td>
          <a href="{% url 'tagging:view_tags' prev_idx %}" class="btn btn-primary" role="button" >Previous</a>
          <a href="{% url 'tagging:view_tags' next_idx %}" class="btn btn-primary" role="button" >Next</a>
        </td>
      </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th scope="row">Title</th>
    <td>{{ article.title|safe }}</td>
  </tr>
  <tr>
    <th scope="row">Authors</th>
    <td>{{ article.authors }}</td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>{{ article.pub_date|date:"Y-M-d" }}</td>
  </tr>
  <tr>
    <th scope="row">URL</th>
    <td><a href="{{ article.url }}" target="_blank">{{ article.url }}</a></td>
  <tr>
    <th scope="row">Abstract</th>
    <td>
      <p>{{ article.abstract|safe }}</p>
    </td>
  </tr>


</table>

{% endblock %}
